<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Visualization Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <!-- Your dashboard content goes here -->
        <div id="chart-container">
            
        </div>
    </div>




    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="{% static 'dashboard_app/js/main.js' %}"></script>
</body>
</html>